@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

div#image_path {
    width: 90%;
    overflow: hidden;
    margin: 80px auto 0;
    box-shadow: 5px 5px 30px #0000001a;
}
.image_slide {
    transform: translateX(110%);
    width: 100%;
    height: 50vh;
    object-fit: contain;
    transition: ease all;
}

/* slide */

.image_slide.visible {
    transform: translateX(0%);
}
img.image_slide.remove {
    display: block!important;
    transform: translateX(-110%);
    position: absolute;
}

/* fade */

.image_slide.fade {
    transform: translateX(0%);
    animation: fadein ease;
}

.image_slide.fadeout {
    transform: translateX(0%);
    animation: fadeout ease;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* styling */

*{
    margin: 0;
    padding: 0;
    font-family: poppins;
}

.slider_wrap {
    position: relative;
}

.slider_move {
    position: relative;
    right: 120px;
    z-index: 999;
}

button:nth-child(2) {
    right: 0;
}
button {
    background: transparent;
    border: 0;
    border-radius: 18px;
    padding: 10px;
    position: absolute;
    bottom: 0;
    right: 60px;
    font-size: 50px;
    cursor: pointer;
    text-shadow: 0 0 20px white;
}


/* select btn */

form {
    position: relative;
    margin-bottom: 50px;
}
input#myFile {
    padding: 16px 0;
    cursor: pointer;
}
.btn {
    padding: 18px;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 0px #00000000;
    transition: 0.3s ease all;
    width: 250px;
    text-align: center;
}
i.fas.fa-chevron-down {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
}
.filteration {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}
.effect_wrap {
    position: relative;
}
.select_file {
    position: absolute;
    top: 0;
    background: #e3e3e3;
    pointer-events: none;
}
input#myFile:hover + .select_file {
    box-shadow: 0 0 100px #00000010;
    background: #e1dfdf;
}
i.fas.fa-folder-plus {
    position: relative;
    left: -15px;
    font-size: 22px;
}
form p {
    margin: 15px 0;
    font-size: 14px;
}
.showUrl {
    background: #e9e9ff;
    transition: 0.5s ease all;
    margin-left: auto;
}
.push_icon {
    position: relative;
    left: 12px;
}
.sct_btn {
    background: #e9e9ff;
}
.custom_slider {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: 150px auto 0;
    flex-flow: wrap;
}
select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}


.image_details {
    width: 100%;
    background: red;
    padding: 17px;
    border-radius: 5px;
    margin-bottom: 50px;
}
.slider_customization, .push_slider {
    width: 50%;
}
